<% layout("./layouts/boilerplate") %>
<h1 class="col-6 offset-3">SignUp on GoTravel</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>

            <div class="mb-3">
                 <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" placeholder="" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" placeholder="" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" placeholder="" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <button type="submit" class="btn btn-success">SignUp</button>
            <br>
            <a href="/login" class="mt-5">Already a user?</a>
        </form>
    </div>
</div>